body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.avatar {
    width: 150px;
    animation-name: imageDancer;
    animation-duration: 5s;
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
            
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */

    background: #304C89;
    color: whitesmoke;
    border-bottom: 6px solid #CDC392;
    border-radius: 15px;
    flex-direction:row-reverse;
     

}



.border-blue {
    border: 1px dotted blue;
}




/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s) ✅ 
- add border radius ✅
- shuffle the layout✅
- shadows        🤯✅
- hover effects  🤯🤯✅
- animations     🤯🤯🤯✅
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/

.card:hover {
     
  color: #CDC392;
  box-shadow: 5px 5px burlywood;
     
}

@keyframes imageDancer {
  0% { width: 75px; }
  50% { width: 175px; }
  75% { width: 185px; }
  100% {width: 150px;}

    
}