.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 4px solid #222222;
    border-radius: 20px;

    padding: 20px;
}

/* 
Using the The box model - margin, border, padding, content
 */